<!-- Validation failure messages -->
<% if @availability.present? %>
  <% if @availability.errors.any? %>
    <% @availability.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new availability
</h1>


<hr>

<!-- Form availability start -->
<form action="/create_availability" method="post">
<!-- Form availability end -->

  <!-- Label and input for user_id start -->
  <!-- Input for "user_id" start -->
  <input type="hidden" name="user_id" value="<%= current_user.id %>">
  <!-- Input for "user_id" end -->
  <!-- Label and input for user_id end -->

  <!-- Label and input for date start -->
  <div class="form-group">
    <label for="date">
      Date
    </label>

    <!-- Input for date start -->
    <input type="text" id="date" name="date" class="form-control" value="<%= @availability.date %>">
    <!-- Input for date end -->
  </div>
  <!-- Label and input for date end -->

  <!-- Label and input for start_time start -->
  <div class="form-group">
    <label for="start_time">
      Start time
    </label>

    <!-- Input for start_time start -->
    <input type="text" id="start_time" name="start_time" class="form-control" value="<%= @availability.start_time %>">
    <!-- Input for start_time end -->
  </div>
  <!-- Label and input for start_time end -->

  <!-- Label and input for end_time start -->
  <div class="form-group">
    <label for="end_time">
      End time
    </label>

    <!-- Input for end_time start -->
    <input type="text" id="end_time" name="end_time" class="form-control" value="<%= @availability.end_time %>">
    <!-- Input for end_time end -->
  </div>
  <!-- Label and input for end_time end -->

  <button class="btn btn-block btn-outline-secondary">
    Create availability
  </button>
</form>

<hr>

<a href="/availabilities">
  Go back
</a>
