<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Availability #<%= @availability.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/availabilities" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <% if current_user == @availability.user %>
          <a href="/availabilities/<%= @availability.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit availability
          </a>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @availability.user %>
          <a href="/delete_availability/<%= @availability.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete availability
          </a>
        <% end %>
      </div>
    </div>

    <dl>
      <dt>
        User
      </dt>
      <dd>
        <% if @availability.user.present? %>
          <a href="/users/<%= @availability.user_id %>">
            <%= @availability.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>
        Date
      </dt>
      <dd>
        <%= @availability.date %>
      </dd>

      <dt>
        Start time
      </dt>
      <dd>
        <%= @availability.start_time %>
      </dd>

      <dt>
        End time
      </dt>
      <dd>
        <%= @availability.end_time %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@availability.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@availability.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

