<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Availability #<%= @availability.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/availabilities" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link availability start -->
      <div class="col">
        <a href="/availabilities/<%= @availability.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit availability
        </a>
      </div>
      <!-- Edit link availability end -->

      <!-- Delete link availability start -->
      <div class="col">
        <a href="/delete_availability/<%= @availability.id %>" class="btn btn-block btn-outline-secondary">
          Delete availability
        </a>
      </div>
      <!-- Delete link availability end -->
    </div>

    <dl>
      <dt>
        User
      </dt>
      <!-- Display user_id start -->
      <dd>
        <%= @availability.user_id %>
      </dd>
      <!-- Display user_id end -->

      <dt>
        Date
      </dt>
      <!-- Display date start -->
      <dd>
        <%= @availability.date %>
      </dd>
      <!-- Display date end -->

      <dt>
        Start time
      </dt>
      <!-- Display start_time start -->
      <dd>
        <%= @availability.start_time %>
      </dd>
      <!-- Display start_time end -->

      <dt>
        End time
      </dt>
      <!-- Display end_time start -->
      <dd>
        <%= @availability.end_time %>
      </dd>
      <!-- Display end_time end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@availability.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@availability.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->
<!-- Show Page Customization end -->
