<% if @overlap.errors.any? %>
  <% @overlap.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit overlap #<%= @overlap.id %>
</h1>

<hr>

<form action="/update_overlap/<%= @overlap.id %>" method="post">

  <div class="form-group">
    <label for="inviter_id">
      Inviter
    </label>

    <%= select_tag(:inviter_id, options_from_collection_for_select(User.all, :id, :email, @overlap.inviter_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="invited_id">
      Invited
    </label>

    <%= select_tag(:invited_id, options_from_collection_for_select(User.all, :id, :email, @overlap.invited_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="date">
      Date
    </label>

    <input type="text" id="date" name="date" class="form-control" value="<%= @overlap.date %>">
  </div>

  <div class="form-group">
    <label for="start_time">
      Start time
    </label>

    <input type="text" id="start_time" name="start_time" class="form-control" value="<%= @overlap.start_time %>">
  </div>

  <div class="form-group">
    <label for="end_time">
      End time
    </label>

    <input type="text" id="end_time" name="end_time" class="form-control" value="<%= @overlap.end_time %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update overlap
  </button>
</form>

<hr>

<a href="/overlaps">
  Go back
</a>
