<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All overlaps
    </h1>

    <a href="/overlaps/new" class="btn btn-block btn-outline-secondary">
      Add a new overlap
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "overlap_templates/overlaps_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Inviter
        </th>

        <th>
          Invited
        </th>

        <th>
          Date
        </th>

        <th>
          Start time
        </th>

        <th>
          End time
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @overlaps.each do |overlap| %>
      <tr>
        <td>
          <%= overlap.id %>
        </td>

        <td>
          <% if overlap.firstuser.present? %>
            <a href="/users/<%= overlap.firstuser.id %>">
              <%= overlap.firstuser.email %>
            </a>
          <% end %>
        </td>

        <td>
          <% if overlap.seconduser.present? %>
            <a href="/users/<%= overlap.seconduser.id %>">
              <%= overlap.seconduser.email %>
            </a>
          <% end %>
        </td>

        <td>
          <%= overlap.date %>
        </td>

        <td>
          <%= overlap.start_time %>
        </td>

        <td>
          <%= overlap.end_time %>
        </td>

        <td>
          <%= time_ago_in_words(overlap.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(overlap.updated_at) %> ago
        </td>

        <td>
          <a href="/overlaps/<%= overlap.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @overlaps, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
